html {
  min-height: 100vh;
}
body {
    box-sizing: border-box;
    background: url("./img/backgorund.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#navbarNavDropdown  {
    justify-content: flex-end;
}
.main {
  padding: 30px;
  background: rgba(223, 155, 107, 0.794);
}
.main--sidebar {
    display: flex;
}
.content {
    flex:80%;
}
.slider{
    margin-bottom: 50px;

}
.sidebar {
    flex: 20%;
    display: flex;
    margin-left: 40px;
}
.top-reated {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.card {
    margin-bottom: 30px;
    background: transparent;
    border: none;
}

.card-button {
  text-align: center;
}

.footer .nav {
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
}

.carousel-item-inner {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

.carousel-item-inner a {
  padding-right: 20px;
  padding-left: 20px;
}

.footer {
  margin-top: auto;
}

.modal-dialog {
  max-width: 50%;
}
.modal-content{
  max-height: 100%;
}

/* List page */

.fld-search {
  width: 91%;
}

/* Loader */

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 2%;
      visibility: hidden;
  }
}